body {
    font-family: 'Inter', sans-serif;
    background-color: #FD98FB; /* Pembe */
    color: #FFFFFF; /* Beyaz metin */
    font-size: 14px;
    padding: 20px;
}

h1 {
    color: #eeff59; /* Mavi */
    font-size: 28px;
    border: 2px solid #6be1ff; /* Yeşil kenarlık */
    padding: 10px;
}

h2 {
    color: #70ff6b; /* Yeşil */
    text-decoration: underline;
    text-decoration-color: #5988FF; /* Alt çizgi mavi */
}

ul {
    border: 1px dashed #FFFFFF; /* Beyaz kesik çizgi */
    padding: 10px;
}

.not {
    font-size: 16px;
    color: #5988FF;
    border: 1px solid #FD98FB;
    padding: 10px;
}